@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather:wght@400;700;900&family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*crvene:
#eb2426
#e91c22
#ff5032 -svjetlija
crna:
#100000
bijela:
#fbfbfb
siva:
#333333
*/
body{
    overflow-x: hidden;
    background: #fbfbfb;
    font-family: 'Chakra Petch';
}

.title-box{
    text-align: center;
    margin: 100px auto 50px;
}

.title-box h1{
    color: #100000;
}

.profile-box{
    width: 250px;
    height: 375px;
    background: #fbfbfb;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 10px 10px 10px 5px rgba(255, 80, 50, 0.8);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}

.profile-box:hover{
    background: #eb2426;    
}

.profile-box img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    transition: .5s;
}

.profile-box img:hover{
    width: 250px;
}

.profile-box h4{
    font-size: large;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #eb2426;
}

.profile-box:hover h4{
    color: #fbfbfb;
}

#p2{
    text-align: left;
    line-height: 24px;
    color: #100000;
    padding: 5px;
}

small{
    color: #333333;
}

.profile-box:hover small{
    color: #fbfbfb;
}

.funfacts-box{
    margin: 60px auto 20px;
}

.funfact-box{
    background: #eb2426;
    text-align: center;
    border-radius: 3px;
}

.funfact-box .fa-solid{
    margin: 5px;
    color: #fbfbfb;
    cursor: pointer;
}

#p1{
    display:inline;
    color: #fbfbfb;
    margin: 5px;
    font-weight: 600;
}

.profile-box:hover #p1{
    color: #eb2426;
}


.profile-box:hover .funfact-box{
    background: #fbfbfb;
}

.profile-box:hover .funfact-box .fa-solid{
    color: #eb2426;
}
/*
.team-row{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}
*/

.team-row{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.team-row-partneri{
    background-color: #100000;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
 


}




/*  */


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
   
    padding: 10px 0;
}
    .header1{ background-color: #333;}




nav {
    max-width: 960px;
    margin: 0 auto;
}


.top-menu1 {
    
    list-style: none;
    padding: 8px;
    position: left;
    display: flex;
    /* margin-top: 1vh; */
}

.top-menu1 li {
    margin-left: 6vw;
    
}

.top-menu1 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}


.hero-section {
    background-color: #100000;
    background-image: url('slike/eesteslika1.png');
    background-size: 100% 100%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    text-align: center;
    height: 100vh;
    padding: 0; 
    margin: 0; 
   
}

.logo{
    margin-top: 33vh;
    margin-right:100vh;
    padding-left: 10vh;
}


.hero-section h1 {
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
}


@media screen and (max-width: 930px) {
    .logo{
        visibility: hidden;
    }
    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .top-menu li {
        margin: 15px 0;
    }

    .hero-section {
        background-color: #100000;
        background-image: url('slike/eestecslika-manja.png');
        background-size: 100% 100%;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        text-align: center;
        height: 100vh;
        width: 100vw;
        padding: 0; 
        margin: 0; 
    }

    .top-menu1 {
        list-style: none;
        margin-top: 2vh;
        position: center;
        display: flex;
        
      
    }
    .top-menu1 li {
        
        position: center;
        margin-left:4vw;
        
    }

    .top-menu1 a {
        
      font-size: 14px;
        
    }


}

    /*staeestecpruza*/

i.service-icon:hover {
    border: 1px solid white;
    color: #fbfbfb;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    background-color:white;

    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.service-col {
    padding: 40px 20px;
    margin: 0 10px;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-bottom: 40px;
}
.service-col .service-icon {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    border: 3px solid white;
    -webkit-box-shadow: inset 0 0 0 0 #fbfbfb;
    -moz-box-shadow: inset 0 0 0 0 #fbfbfb;
    box-shadow: inset 0 0 0 0 #fbfbfb;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

.service-col .service-icon i {
    font-size: 4.5em;
    line-height: 140px;
    margin: 0 auto;
    color: white;
;
    -webkit-animation: serviceicon 0.6s ease-in-out;
    -moz-animation: serviceicon 0.6s ease-in-out;
    animation: serviceicon 0.6s ease-in-out;
}
.service-col h2 {
    font-weight: 600;
    margin: 1em 0 0.75em;
}
.service-col h2 a {
    color: white;
}


.service-col p {
    font-size: 0.875em;
    font-weight: 200;
    margin-bottom: 0;
    color: white;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}


.service-col:hover .service-icon {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -webkit-box-shadow: inset 0 0 0 100px #fbfbfb;
    -moz-box-shadow: inset 0 0 0 100px #fbfbfb;
    box-shadow: inset 0 0 0 100px #fbfbfb;
}
.service-col:hover .service-icon i {
    color: #eb2426;
    -webkit-animation: serviceiconhover 0.5s ease-in-out;
    -moz-animation: serviceiconhover 0.5s ease-in-out;
    animation: serviceiconhover 0.5s ease-in-out;
}


.bg-white {
    background-color: #fbfbfb;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}













/* kontakt */

.black {
    
    background-color: #100000;
    color: #fbfbfb;
    width: 100%;
    height: 600px;
    overflow: hidden; 
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));

}

.kontakt-lijevo {

    width: 40%;
    border: 3px solid #6c757d;
    height: 300px;
    text-align: center;
    padding-top: 150px;
  
    margin-left: 3vw;
    margin-top: 8vh;
    border-radius: 15px;
    
}


.kontakt-desno {
    flex:2;
    width: 60%; 
    height: 100%;
    margin-top: 75px;

}

.google-map {
    position: relative; 
    margin-left: 50px;
}

.google-map iframe {
    border-radius: 20px;
    width: 90%; 
    height: 30rm;
    display: flex;
    border: 0;
}


/* Style all font awesome icons */
#faa {
    padding: 15px;
    font-size: 16px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }
  
  /* Add a hover effect if you want */
  #faa:hover {

    background-color: #000;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #eb2426;
    color: white;
    margin-right: 20px;
  }
  
  /* Tiktok */
  .fa-tiktok {
    background: #eb2426;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
  .fa-instagram{
    background: #eb2426;
    color: white;
  }
  .fa-linkedin{
    background: #eb2426;
    color: white;
  }

  .linkovi{
    text-align: center;
  }

  .section-heading {
    color: #fff;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }


  .section-subheading {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 1rem;
  }

  .text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
  }


  .d-flex {
    display: flex !important;
  }

.section-subheading i::after {
    content: "\00a0"; /* Using a non-breaking space character */
}

/* onama */


.body2 {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: var(--bs-body-text-align);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-section {
    padding: 6rem 0;
}

.page-section * {
    box-sizing: border-box;
}

.text-center {
    text-align: center !important;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px){
    h3, .h3 {
        font-size: 1.75rem;
    }
}

.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.about-2 {
    background-color: #100000;
    color: #fff;
    border-radius: 3rem;
}

.align-items-center {
    align-items: center !important;
}

.p-5 {
    padding: 3rem !important;
}

.p-5 img,
.p-5 svg {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 15% !important;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px){
    .display-6 {
        font-size: 2.5rem;
    }
}

.p-5 p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.p-5 p {
    line-height: 1.75;
}

.text-justify {
    text-align: justify;
}

a {
    color: #3F88C5;
    text-decoration: underline;
}

@media (min-width: 992px){
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px){
    .order-lg-2 {
        order: 2 !important;
    }
}

@media (min-width: 768px){
    section {
        padding: 9rem 0;
    }
}

@media (min-width: 1200px){
    h2, .h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px){
    .order-lg-1 {
        order: 1 !important;
    }
}






.projects {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowa {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.square-left,
.square-right,
.centered-square {
    width: calc(48% - 10px);
    border-radius: 15px;
    height: 280px;
    overflow: hidden; 
    position: relative; 
    box-shadow: 10px 10px 10px 5px rgba(225, 10, 10, 0.8);

}

.square-left .content,
.square-right .content,
.centered-square .content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); 
    transition: all 0.3s ease;
}

.content:hover {
    transform: scale(1.25); 
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: background 0.3s ease; 
}

.content:hover::before {
    background: rgba(255, 255, 255, 0.697); 
}

.content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #000000; 
    opacity: 0; 
    transition: all 0.3s ease; 
    font-weight: bold;
}

.content:hover p {
    opacity: 0.9;
}

.content h1 {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    color: #fbfbfb; 
    font-weight: bold; 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease;
}

.content:hover h1 {
    top: 13%;
    border-radius: 15px;

    transform: translate(-50%, 0%);
}
#project_title {
    padding-top: 80px;
    text-align: center;
  }




  .profile-box-partneri{
    width: 250px;
    height: 250px;
    background: #100000;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 10px 10px 10px 5px rgba(255, 80, 50, 0.8);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}


.profile-box-partneri img{
    width: 250px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    transition: .5s;
}

.profile-box-partneri img:hover{
    width: 250px;
}

.profile-box-partneri h4{
    font-size: large;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #eb2426;
}

.title-box-partneri{
    text-align: center;

    background-color: #100000;
}

.title-box-partneri h1{
    color: #fbfbfb;
}

.bl{background-color: #100000;}